{% extends "layout_2.html"%}
{% import '_macros.html' as macros %} // Add import statement for macros module
{% block content %}
<h1>ALUMNOS</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form action="/alumnos" method="POST" novalidate>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    {{ macros.input_form(form.nombre ,class="form-control") }}
    {{ macros.input_form(form.apellido, class="form-control") }}
    {{ macros.input_form(form.email, class="form-control") }}
    {{ macros.input_form(form.edad, class="form-control") }}

    <button type="submit" class="btn btn-success">ENVIAR</button>
    <a href="/alumnos_tabla" class="btn btn-warning">CANCELAR</a>
</form>

{% endblock %}