{% extends "layout_2.html"%}
{% from '_macros.html' import input_float %}
{% block content %}


<div class="col-md-12 shadow-lg p-4 mb-4 bg-white">
    <form action="/eliminar" id="eliminar" method="POST" novalidate>

        {{ input_float(form.id, class="form-control") }}
        
        {{ input_float(form.nombre, class="form-control text-uppercase") }}

        {{ input_float(form.apellidoPaterno, class="form-control text-uppercase") }}

        {{ input_float(form.apellidoMaterno, class="form-control text-uppercase") }}

        {{ input_float(form.email, class="form-control text-lowercase") }}

        <div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button class="btn btn-success" type="submit" name="eliminar" value="eliminar"
                id="eliminar">ELIMINAR</button>
                <a href="/alumnos_tabla" class="btn btn-warning">CANCELAR</a>
        </div>

    </form>
</div>


{% endblock %}